#### SET
- Setler sıralanamaz, index ile erişilemez.
- Eleman ekleme ya da silme işlemi yapılabilir ancak setin içerisinde bulunan bir eleman değiştirilemez
- Duplicate(aynı değere sahip) veri bulunduramaz.
- Farklı tipte veriler barındırabilir.
- {} ile tanımlanır ve elemanlar "," ile ayrılır.

In [1]:
#Set tanımlama
int_set = {1,2,3,4}
string_set = {"Nurefşan","Nigar","Mehmet","Fatih"}
mix_set = {"Nigar","Kedi",2.5,2022}

In [9]:
#Setlerin içerisinde list bulunmaz.
mix_set = {["Nigar","Kedi",2022],"Nurefşan","İnsan","1999"}
mix_set

TypeError: unhashable type: 'list'

In [12]:
#setlerin içerisinde tuple veri yapısı bulunabilir.
mix_set = {("Nigar","Kedi",2022),"Nurefşan","İnsan",1999}
mix_set
for i in mix_set:
    print(type(i), i)

<class 'str'> Nurefşan
<class 'tuple'> ('Nigar', 'Kedi', 2022)
<class 'str'> İnsan
<class 'int'> 1999

In [3]:
#boş set tanımlama
my_set = {} #bu tanımlama şekli dict verilere aittir. Set veri yapıları bu şekilde tanımlanmaz.
print(type(my_set))
my_set1 = set() #boş set tanımlaması bu şekildedir.
print(type(my_set1))

<class 'dict'>
<class 'set'>

In [6]:
#Set elemanlarına döngüler erişim
my_set = {"Nigar","Kedi",2.5,2022}
for i in my_set:  
    print(i)

Kedi
2.5
2022
Nigar

In [8]:
#set elemanlarına in ile erişim
my_set = {"Nigar","Kedi",2.5,2022}
print("Kedi" in my_set) #boolean sonuç döndürür
print("nigar" in my_set) #büyük-küçük harf duyarlıdır.

True
False

In [5]:
#duplicate veriler setlerden kaldırılır.
my_set = {1, 3, 4, 2, 1, 3, 4, 2, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [14]:
#Set veri yapısına add metodu ile eleman ekleme
books = {"Serenad", "Küçük Prens", "Şeker Portakalı", "Harry Potter"}
books.add("İnce Memed")
print(books)

{'Serenad', 'İnce Memed', 'Küçük Prens', 'Şeker Portakalı', 'Harry Potter'}

In [15]:
#Set veri yapısına update metodu ile eleman ekleme
books = {"Serenad", "Küçük Prens", "Şeker Portakalı", "Harry Potter"}
books.update(["Demir Ökçe", "1984"])
print(books)

{'Serenad', 'Küçük Prens', 'Şeker Portakalı', 'Harry Potter', 'Demir Ökçe', '1984'}

In [17]:
#Set veri yapısından remove metodu ile eleman silme, olmayan bir elemanı silmeye çalıştığımızda hata verir
numbers= {0,1,2,3,4,5,6,7,8,9}
numbers.remove(5)
print(numbers)

{0, 1, 2, 3, 4, 6, 7, 8, 9}

In [19]:
#Set veri yapısından discard metodu ile eleman silme, olmayan bir elemanı silmeye çalışırsak hata vermez.
numbers= {0,1,2,3,4,5,6,7,8,9}
numbers.discard(3)
print(numbers)

{0, 1, 2, 4, 5, 6, 7, 8, 9}

In [20]:
#Set veri yapısından pop metodu ile eleman silme
numbers= {0,1,2,3,4,5,6,7,8,9} #ratgele bir elemanı siler.
numbers.pop()
print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#Set veri yapısından pop metodu ile eleman silme
numbers= {0,1,2,3,4,5,6,7,8,9} #ratgele bir elemanı siler.
numbers.pop()
print(numbers)

In [21]:
#Set veri yapısından clear metodu ile eleman silme
numbers= {0,1,2,3,4,5,6,7,8,9} #tüm elemanları silip boş bir set çıktısı verir.
numbers.clear()
print(numbers)

set()

In [22]:
#Set veri yapısını del ile silme
numbers= {0,1,2,3,4,5,6,7,8,9} 
del numbers
print(numbers) #numbersı tamamen sildi.

NameError: name 'numbers' is not defined

In [24]:
#union veya | ile set birleştirme
my_set1 = {"Asena", "Başak", "Bircan", "Emre"}
my_set2 = {"Emre", "Burak", "Bilal"}

#birleştirilmiş setlerde de duplicate veri bulunmaz. İki setin tüm elemanlarını tekrar etmeyecek şekilde birleştirir.
my_set3 = my_set1 | my_set2
my_set4 = my_set1.union(my_set2)
print("| ile birleştirilmiş set->",my_set3) 
print("union ile birleştirilmiş set->",my_set4)

| ile birleştirilmiş set-> {'Asena', 'Başak', 'Bircan', 'Emre', 'Bilal', 'Burak'}
union ile birleştirilmiş set-> {'Asena', 'Başak', 'Bircan', 'Emre', 'Bilal', 'Burak'}

In [25]:
#intersection veya & ile setlerin kesişimini almak.
my_set1 = {"Asena", "Başak", "Bircan", "Emre"}
my_set2 = {"Emre", "Burak", "Bilal"}

#birleştirilmiş setlerde de duplicate veri bulunmaz. İki setin tüm elemanlarını tekrar etmeyecek şekilde birleştirir.
my_set3 = my_set1 & my_set2
my_set4 = my_set1.intersection(my_set2)
print("& ile kesişim->",my_set3) 
print("intersection ile kesişim->",my_set4)

& ile kesişim-> {'Emre'}
intersection ile kesişim-> {'Emre'}

In [26]:
#orijinal seti kesişim kümesi ile güncellemek için intersection_update kullanılır.
my_set1 = {"Asena", "Başak", "Bircan", "Emre"}
my_set2 = {"Emre", "Burak", "Bilal"}

my_set1.intersection_update(my_set2)
print(my_set1)

{'Emre'}

In [27]:
#differance veya - ile setlerde fark işlemi
my_set1 = {"Asena", "Başak", "Bircan", "Emre"}
my_set2 = {"Emre", "Burak", "Bilal"}

my_set3 = my_set1 - my_set2 #set1'in set2'den farkını alır.
my_set4 = my_set1.difference(my_set2)
print("- ile fark->",my_set3) 
print("difference ile fark->",my_set4)

- ile fark-> {'Başak', 'Asena', 'Bircan'}
difference ile fark-> {'Başak', 'Asena', 'Bircan'}

In [29]:
#orijinal seti fark ile güncellemek için difference_update metodu kullanılır.
my_set1 = {"Asena", "Başak", "Bircan", "Emre"}
my_set2 = {"Emre", "Burak", "Bilal"}
my_set2.difference_update(my_set1)
print("Yeni set2->",my_set2)

Yeni set2-> {'Bilal', 'Burak'}

In [31]:
# ^ veya synmetric_differance ile ortak eleman dışındaki elemanları brileştirmek.
#differance veya - ile setlerde fark işlemi
my_set1 = {"Asena", "Başak", "Bircan", "Emre"}
my_set2 = {"Emre", "Burak", "Bilal"}

my_set3 = my_set1 ^ my_set2 #set1'in set2'den farkını alır.
my_set4 = my_set1.symmetric_difference(my_set2)
print("^ ile birleştirme->",my_set3) 
print("symmetric_difference ile birleştirme->",my_set4)

^ ile birleştirme-> {'Asena', 'Bircan', 'Burak', 'Başak', 'Bilal'}
symmetric_difference ile birleştirme-> {'Asena', 'Bircan', 'Burak', 'Başak', 'Bilal'}

In [33]:
# copy metodu ile set kopayalamak
my_set = {2022, True, "Iphone", "Macbook"}

my_set2 = my_set.copy()

print(my_set)
print(my_set2)

{'Macbook', True, 'Iphone', 2022}
{'Macbook', True, 'Iphone', 2022}

In [37]:
# = ile set kopyalamak, my_set'e kopyalama işleminden sonra bile eleman eklense o elemanı da kopyalar.
my_set = {2022, True, "Iphone", "Macbook"}

my_set2 = my_set
my_set.add(19)

print(my_set)
print(my_set2)

{True, 2022, 'Iphone', 19, 'Macbook'}
{True, 2022, 'Iphone', 19, 'Macbook'}

In [36]:
# set() ile set kopyalamak
my_set = {2022, True, "Iphone", "Macbook"}

my_set2 = set(my_set)

print(my_set)
print(my_set2)

{'Macbook', True, 'Iphone', 2022}
{'Macbook', True, 'Iphone', 2022}

In [39]:
#issubset ile alt küme kontrolü
my_set = {3, "Python", 4, 7, True}
sub_set = {"Python"}

print(sub_set.issubset(my_set)) #sub_set my_set'in alt kümesi mi
print(my_set.issubset(sub_set)) #my_set sub_set'in alt kümesi mi

True
False

In [42]:
#issuperset ile üst küme kontrolü
my_set = {3, "Python", 4, 7, True}
sub_set = {"Python"}

print(sub_set.issuperset(my_set)) #sub_set my_set'in üst kümesi mi
print(my_set.issuperset(sub_set)) #my_set sub_set'in üst kümesi mi

False
True

In [44]:
#Değişmez bir ser oluşturmak için frozenset() metodu kullanılır. 
# Frozenset üzerinde eleman ekleme ve silme gibi işlemler yapılamaz.
name_set = {"Nigar", "Nurefşan", "Mehmet"}
frozen_set = frozenset(name_set)

frozen_set.add("Fatih")

AttributeError: 'frozenset' object has no attribute 'add'

In [45]:
#Bir listenin tüm elemanlarını sete ekleyin.
my_list = [1,1,1,2,3,4,5,5,6,7,7,8,9,0]
my_set = {"Nigar","Nur",1,2,3}
my_set.update(my_list) #ekleme işlemi unique olarak yapıldı.
print(my_set)

{0, 1, 2, 3, 'Nur', 4, 5, 6, 7, 8, 9, 'Nigar'}

In [7]:
# Kullanıcı -1 girine kadar kullanıcıdan alınan sayıların iki katını unique olacak şekilde bir listeye ekleyiniz.
my_list = []
while(True):
    num = int(input("Listeye eklenmesini istediğiniz değeri giriniz ->"))
    sayi = int(num)
    if sayi<0:
        break
    new_sayi = sayi*2
    my_list.append(new_sayi)
    my_set = set(my_list) #listeyi set yaparak unique ekleme yaptık.
    print(my_set)

{2}
{2, 4}
{2, 4, 6}
{2, 4, 6}
{2, 4, 6}
{2, 4, 6}
{2, 10, 4, 6}
{2, 4, 6, 10, 12}
{2, 4, 6, 10, 12, 14}
{2, 4, 6, 10, 12, 14, 16}